.cai_history_modal{
    display: none; /*flex*/
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: 8%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 260px;
    min-height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3d3d3d;
}
.cai_history_modal button{
    
}
.cai_history_modal .closebtn {
    
}