.cai_tools-btn {
    position: unset;
    align-self: flex-start;
    width: unset !important;
    right: 20px;
    top: 20px;
    outline: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 16px;
    border-radius: 6px;
    transition: all 0.1s ease;
    font-size: 1rem;
    background-color: #06689d;
    margin-left: auto;
}

.cai_tools-btn:hover {
    background-color: #2577a3;
    opacity: 1;
}

.cai_tools-cont,
.cait_settings-cont {
    display: none;
    /*flex*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000060;
    align-items: center;
    justify-content: center;
}

.cai_tools-cont.active,
.cait_settings-cont.active {
    display: flex;
}

.cait_settings {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-height: 96vh;
    overflow-y: auto;
}

.cai_tools {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-width: 280px;
}

.cai_tools .cait-header,
.cait_settings .caits_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cai_tools .cait-header h4,
.cait_settings .caits_header h4 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.cai_tools .cait-header span,
.cait_settings .caits_header span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 400;
    font-family: monospace;
}

.cai_tools .cait-header span:hover,
.cait_settings .caits_header span:hover {
    background-color: #3b3b3b;
}

.cai_tools .cait-body,
.cait_settings .caits-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 14px;
}

.cait_settings pre{
    white-space: pre-wrap;
}
.cait_settings pre .cait_jv_prop{
    color: #c41313;
}

.cai_tools .cait-body span.cait_warning {
    display: none;
    padding: 0 10px;
    margin-bottom: 10px;
    color: rgb(186, 30, 30);
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.cai_tools .cait-body h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.cai_tools .cait-body .cait_progressInfo {
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 2px;
}

.cai_tools .cait-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.cai_tools .cait-body ul:last-child {
    margin-bottom: unset;
}

.cai_tools .cait-body ul li {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.cai_tools .cait-body ul li:hover {
    background-color: #3b3b3b;
}

@media (min-width: 768px) {
    .cai_tools-btn {
        position: fixed;
        opacity: 0.7;
        margin-left: unset;
    }

    .cai_tools {
        max-width: 360px;
    }

    .cait_settings {
        width: 80%;
    }
}