/*p:has(a[href="#-"]) {
    display: none;
}

a[href="#-"] {
    display: none;
}*/

[data-tool="cai_tools"] a {
    color: #0085ff;
}

[data-tool="cai_tools"] a:hover {
    text-decoration: underline;
}


a[href="#-"] {
    text-decoration: none;
}

.cait_button-cont {
    display: flex;
    flex-direction: row;
    gap: 4px;
    cursor: grab;

    z-index: 998;
    position: fixed;
    right: 20px;
    top: 20px;
}

.dragCaitBtn {
    font-size: 1.2rem;
    flex-shrink: 0;
    min-width: 30px;
    max-width: 50px;
    border-radius: 6px;
    color: #fff;
    transition: all 0.1s ease;
    background-color: #06689d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragCaitBtn:hover {
    background-color: #2577a3;
}

.cai_tools-btn {
    white-space: nowrap;
    opacity: 0.9;
    align-self: flex-start;
    width: unset !important;
    outline: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 16px;
    border-radius: 6px;
    transition: all 0.1s ease;
    font-size: 1rem;
    background-color: #06689d;
}

.cai_tools-btn:hover {
    background-color: #2577a3;
    opacity: 1;
}









.cai_tools-cont,
.cait_settings-cont,
.cait_memory_manager-cont,
.cait_info-cont {
    display: none;
    /*flex*/
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000060;
    align-items: center;
    justify-content: center;
}

.cai_tools-cont.active,
.cait_settings-cont.active,
.cait_memory_manager-cont.active,
.cait_info-cont.active {
    display: flex;
}

.cai_tools .cait-header,
.cait_settings .caits_header,
.cait_memory_manager .caitmm_header,
.cait_info .caiti_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cai_tools .cait-header h4,
.cait_settings .caits_header h4,
.cait_memory_manager .caitmm_header h4,
.cait_info .caiti_header h4 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.cai_tools .cait-header span,
.cait_settings .caits_header span,
.cait_memory_manager .caitmm_header span,
.cait_info .caiti_header span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 400;
    font-family: monospace;
}

.cai_tools .cait-header span:hover,
.cait_settings .caits_header span:hover,
.cait_memory_manager .caitmm_header span:hover,
.cait_info .caiti_header span:hover {
    background-color: #3b3b3b;
}

.cai_tools .cait-body,
.cait_settings .caits-body,
.cait_memory_manager .caitmm-body,
.cait_info .caiti-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 14px;
}




.cait_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-width: 280px;
    max-height: 90vh;
    overflow-y: auto;
    overscroll-behavior: none;
}

.cait_info p {
    margin: 20px 0 30px;
    text-align: center;
    overflow: hidden;
}

.cait_info a {
    word-break: break-word;
}



.cai_tools {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    overscroll-behavior: none;
}

.cai_tools .donate_link {
    font-size: 1rem;
    padding: 0 14px 6px;
}

.cai_tools .cait-body span.cait_warning {
    display: none;
    padding: 0px 4px 8px;
    color: rgb(186, 30, 30);
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.cai_tools .cait-body h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.cai_tools .cait-body .cait_progressInfo {
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 2px;
}

.cai_tools .cait-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 3px 5px;
}

.cai_tools .cait-body ul:last-child {
    margin-bottom: unset;
}

.cai_tools .cait-body ul li {
    display: block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
}

.cai_tools .cait-body ul li i {
    font-size: 0.8rem;
    font-weight: 300;
}

.cai_tools .cait-body ul li:hover {
    background-color: #3b3b3b;
}

.cai_tools .history_loading-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.cai_tools .fetchHistory-btn {
    background-color: #454545;
    border-radius: 10px;
    padding: 2px 10px;
    border: none !important;
}

.cai_tools .fetchHistory-btn:hover {
    background-color: #585858;
}

.cai_tools .fetchHistory-btn.started {
    cursor: default;
    pointer-events: none;
    opacity: 0.6;
}






.cait_settings {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-height: 90vh;
    overflow-y: auto;
    overscroll-behavior: none;
}

.caits-content {
    display: flex;
    flex-direction: column;
}

.cait_settings .caits_field_name {
    margin-bottom: 7px;
    font-size: 1.2rem;
    color: #b7b7b7;
    font-weight: bold;
}

.cait_settings p {
    margin-bottom: 20px;
    color: #eaeaea;
    max-height: 340px;
    overflow-y: auto;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #363636;
}




.cait_memory_manager {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #676767;
    background-color: #272727;
    color: #ffffff;
    border-radius: 8px;
    width: 96%;
    max-height: 90vh;
    overflow-y: auto;
    overscroll-behavior: none;
    padding-bottom: 20px;
}

.cait_memory_manager label.mm_status {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.cait_memory_manager input[name="cait_mm_active"] {
    width: 1.1rem;
    height: 1.1rem;
}

.cait_memory_manager .note {
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: 300;
}

.cait_memory_manager span.reminder-wrap {
    margin-bottom: 10px;
}

.cait_memory_manager span.reminder-wrap input[name="remind_frequency"] {
    padding: 3px 4px;
    border-radius: 4px;
    text-align: center;
    margin: 0 6px;
    width: 50px;
    font-size: 0.9rem;
}

.cait_memory_manager textarea.mm_new_memory {
    min-height: 200px;
    min-height: 100px;
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 6px;
}

.cait_memory_manager button.add_new_memory {
    align-self: center;
    padding: 4px 8px;
    background-color: #2577a3;
    color: #ffffff;
    border-radius: 4px;
    border: unset;
    margin-bottom: 16px;
}

.mm-current_memory_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.mm-current_memory_list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mm-current_memory_list li .memory {
    border: 1px solid #cccccc;
    padding: 6px;
    border-radius: 8px 8px 8px 0;
    overflow-y: auto;
    min-height: 200px;
    max-height: 350px;
    width: 100%;
    font-size: 0.9rem;
}

.mm-current_memory_list li .delete_memory {
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 0 0 4px 4px;
    background-color: #a32f25;
    border: unset;
}

.cait_memory_manager .mm-action-cont {
    display: flex;
    gap: 30px;
    align-self: center;
}

.cait_memory_manager .mm-action-cont button {
    padding: 4px 8px;
    color: #ffffff;
    border-radius: 4px;
    border: unset;
}

.cait_memory_manager .mm-action-cont .cancel {
    background-color: #a32f25;
}

.cait_memory_manager .mm-action-cont .save {
    background-color: #36a325;
}







@media (min-width: 768px) {
    .cai_tools-btn {
        opacity: 0.6;
    }

    .cai_tools {
        max-width: 500px;
    }

    .cait_settings {
        width: 80%;
    }

    .cait_memory_manager {
        width: 60%;
    }

    .cait_memory_manager textarea.mm_new_memory {
        min-height: 100px;
    }

    .mm-current_memory_list li {
        padding: 0 20px;
    }

    .mm-current_memory_list li .memory {
        padding: 8px 14px;
        min-height: 100px;
        max-height: 180px;
    }
}